*.class

# Package Files #
#*.jar
*.war

# gwt caches and compiled units #
war/gwt_bree/
gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/
war/*JUnit/
war/administrator/
war/submission/
war/map/
reports/
war/WEB-INF/lib/appengine-*.jar
war/WEB-INF/lib/datanucleus-*.jar
war/WEB-INF/lib/geronimo-*.jar
war/WEB-INF/lib/gwt-servlet.jar
war/WEB-INF/lib/jdo2-api-2.3-eb.jar
war/WEB-INF/lib/jsr107cache-1.1.jar
war/WEB-INF/lib/libservice.jar

# don't commit private keys
src/submit/org/tcsaroundtheworld/submit/server/ReCaptchaPrivateKeys.properties

# ignore downloads
downloads/
gwt-*/
appengine-java-sdk-*/
